/*******************************************************************************
 * Custom styles for preCICE site (BS5 migration)
 ******************************************************************************/

/* Brand colors */
:root {
  --precice-blue: #0A76BB;
  --precice-orange: #ED762C;
  --precice-light-blue: #347DBE;
  --precice-dark-blue: #015CAE;
}

/* Navbar */
.navbar-brand-icon {
  height: 30px;
  margin-right: 10px;
}

/* Landing page specific */
.section-header {
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 28px;
}

.row {
  margin-bottom: 0px;
}

/* Panels to Cards */
.panel-precice {
  padding-top: 5px;
}
.card-precice {
  padding-top: 0px;
}
.panel-heading-precice {
  margin-bottom: -15px;
}
.card-header-precice {
  margin-bottom: 0px;
}
.panel-heading-precice,
.card-header-precice {
  position: relative;
  padding: 10px 15px;
  min-height: 4em;
  display: flex;
  align-items: center;
}
.panel-heading-precice strong,
.card-header-precice strong {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 500;
}

/* Sidebar BS5 */

.sidebar-nav {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

/* Level 1 Base */
.sidebar-nav a.nav-link {
    font-size: 14px;
    line-height: 20px;
    padding: 4px 10px !important;
    color: #333 !important;
    background-color: #e8e8e8 !important;
    border-top: 1px solid whitesmoke;
}

/* All Hover: Orange */
.sidebar-nav a.nav-link:hover {
    background-color: #ED762C !important;
    background: #ED762C !important;
    color: #ffffff !important;
}

/* Level 1 Toggler (Open): Blue */
.sidebar-nav > li.nav-item > a.nav-link:not(.collapsed)[data-bs-toggle="collapse"] {
    background-color: #347DBE !important;
    background: #347DBE !important;
    color: #ffffff !important;
}

/* Level 2, 3, 4 Toggler (Open): Orange */
.sidebar-nav li.nav-item .collapse a.nav-link:not(.collapsed)[data-bs-toggle="collapse"] {
    background-color: #ED762C !important;
    background: #ED762C !important;
    color: #ffffff !important;
}

/* Active Leaf or Collapsed Active Toggler: Gray */
.sidebar-nav a.nav-link.active:not([data-bs-toggle="collapse"]),
.sidebar-nav a.nav-link.active.collapsed[data-bs-toggle="collapse"] {
    background-color: #8D8D8D !important;
    background: #8D8D8D !important;
    color: #ffffff !important;
}

/* Level 2+ Base colors */
.sidebar-nav .collapse a.nav-link {
    background-color: #FAFAFA !important;
}

/* Progressive Indentation */
.sidebar-nav .collapse .nav-link {
    padding-left: 20px !important;
}
.sidebar-nav .collapse .collapse .nav-link {
    padding-left: 30px !important;
}
.sidebar-nav .collapse .collapse .collapse .nav-link {
    padding-left: 40px !important;
}
.sidebar-nav .collapse .collapse .collapse .collapse .nav-link {
    padding-left: 50px !important;
}

.sidebar-nav .nav-link[data-bs-toggle="collapse"]::after {
    content: '\25be';
    float: right;
    transition: transform 0.2s;
}

.sidebar-nav .nav-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(-90deg);
}

.sidebar-nav .nav-link.disabled {
    background-color: #eee !important;
    color: #ED762C !important;
    font-weight: bold;
    border-top: 2px solid #ddd;
    margin-top: 10px;
    padding: 10px 15px !important;
}

/* General utility classes */

.no-margin {
  margin: 0;
}
.less-top-margin {
  margin-top: -20px;
}
.less-bottom-margin {
  margin-bottom: -20px;
}

.full-height {
  height: 100%;
}

.col-flex {
  display: flex;
  flex-direction: column;
}
