<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-inverse fixed-top" data-bs-theme="light" aria-label="Main">
    <div class="container topnavlinks">
        <a class="navbar-brand no-icon" href="{{ site.url }}">
            <span class="navbar-brand-icon">
                <img class="navbar-brand-text" src="images/preCICE_text_28px.svg" alt="preCICE">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav ms-auto">
                <!-- entries without drop-downs appear here -->

                {% assign topnav = site.data[page.topnav] %}
                {% assign topnav_dropdowns = site.data[page.topnav].topnav_dropdowns %}

                {% for entry in topnav.topnav %}
                {% for item in entry.items %}
                {% comment %}
                Whenever page.url contains item.url the "active" class is applied, which does not work on sub pages
                To solve this issue we exploit the association of sections of the website with sidebars, as scoped in _config.yml
                {% endcomment %}
                {% assign section_sidebar = item.section | append: '_sidebar' %}
                {% if item.external_url %}
                <li class="nav-item"><a class="nav-link" href="{{item.external_url}}" target="_blank" rel="noopener">{{item.title}}</a></li>
                {% elsif page.url contains item.url %}
                <li class="nav-item active"><a class="nav-link" href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% elsif page.sidebar == section_sidebar %}
                <li class="nav-item active"><a class="nav-link" href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                <!-- entries with drop-downs appear here -->
                <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
                {% for entry in topnav_dropdowns %}
                {% for folder in entry.folders %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{ folder.title }}</a>
                    <ul class="dropdown-menu">
                        {% for folderitem in folder.folderitems %}
                        {% if folderitem.external_url %}
                        <li><a class="dropdown-item" href="{{folderitem.external_url}}" target="_blank" rel="noopener">{{folderitem.title}}</a></li>
                        {% elsif page.url contains folderitem.url %}
                        <li class="dropdownActive"><a class="dropdown-item" href="{{folderitem.url |  remove: "/"}}">{{folderitem.title}}</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %}

                {% if site.feedback_disable == null or site.feedback_disable == false %}
        			{% comment %}
                    {% include feedback.html %}
                    {% endcomment %}
		        {% endif %}
                <!--comment out this block if you want to hide search-->
                <li class="nav-item">
                    <!--start search-->
                    <div id="search-demo-container">
                        <div id="search-input"></div>
                        <div id="search-results"></div>
                        {% include algolia.html %}
                    </div>
                    <!--end search-->
                </li>
                <li class="nav-item">
                    <a class="nav-link no-icon nav-external" href="https://precice.discourse.group" target="_blank" rel="noopener noreferrer" data-show-count="false" aria-label="Join the discourse community"><i class="fab fa-discourse"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link no-icon nav-external" href="https://github.com/precice" target="_blank" rel="noopener noreferrer" data-show-count="false" aria-label="Star precice/precice on GitHub"><i class="fab fa-github"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link no-icon nav-external" href="https://www.linkedin.com/company/precice" target="_blank" rel="noopener noreferrer" data-show-count="false" aria-label="Follow us on LinkedIn"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="nav-item">
                    <!-- rel="me" required by Mastodon for verification -->
                    <a rel="me noopener noreferrer" class="nav-link no-icon nav-external" href="https://fosstodon.org/@precice" target="_blank" data-show-count="false" aria-label="Follow us on Mastodon"><i class="fab fa-mastodon"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link no-icon nav-external" href="https://www.youtube.com/c/preCICECoupling/" target="_blank" rel="noopener noreferrer" data-show-count="false" aria-label="Subscribe on Youtube"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</nav>

