<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
</head>

<body>
  <div class="page-wrapper">
	<header>
		{% include topnav.html %}
		<!-- News banner -->
		{% include news_banner.html onlanding=true %}
	</header>
	<main class="content-grow">
		<!-- Page Content -->
		{{content}}
	</main>

	{% include footer.html %}
  </div>

	<script src="{{ '/js/github-queries.js' | relative_url }}"></script>

	<script src="{{ '/js/news-collect.js' | relative_url }}"></script>

</body>

{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}

</html>